.sub-title img,.info {
	width: 60%;
	margin: 0 auto;
	display: block;
}
.logo img {
	width: 25%;
	display: block;
	margin: 0 auto;
}
.human-milk img {
	display: block;
	margin: 0 auto;
	width: 80%;
	cursor: pointer;
}